.information
  background: $information-faq-bg
  position: relative
  padding-top: 98px
  padding-bottom: 53px
  &::before
    content: ''
    position: absolute
    right: 0
    top: 0
    width: 47%
    height: 100%
    background: #fff url('../img/information/information-bg.png') no-repeat center center
    background-size: cover
    z-index: 20
  &-wrap
    display: flex
  &-faq
    display: flex
    flex-direction: column
    flex-basis: 55%
    color: $dark-color
    &__title
      font-family: "Museo Sans Bold"
      max-width: 516px
      margin-top: 0
      font-size: 22px
      line-height: 33px
    &__subtitle
      margin: 26px 0 83px 2px
      font-size: 16px
    &__questions
      list-style: none
      margin-left: 28px
      max-width: 425px
      &-item
        font:
          family: "Museo Sans Medium"
          size: 18px
        position: relative
        margin-bottom: 43px
        &::before
          content: '1.'
          font-size: 14px
          +bold
          position: absolute
          text-align: center
          left: -68px
          top: 50%
          transform: translateY(-50%)
          width: 35px
          height: 35px
          line-height: 35px
          border: 2px solid $dark-color
          border-radius: 50%
        &:nth-child(2)::before
          content: '2.'
        &:nth-child(3)::before
          content: '3.'
          top: 10px
        &:nth-child(4)::before
          content: '4.'
  &-feedback
    color: $text-color
    display: flex
    flex-direction: column
    flex-basis: 45%
    z-index: 22
    padding: 0 60px
    .form
      text-align: center
      &__title
        font-family: "Museo Sans Bold"
        margin-top: 0
        font-size: 22px
        line-height: 33px
      &__subtitle
        margin-top: 45px
        font-size: 16px
    &__input
      width: 92%
      margin-bottom: 15px
    &__button
      font-family: "Museo Sans Bold"
      color: $text-color
      width: 92%
      margin: 15px 0 33px
      font-size: 16px
      line-height: 18px
      padding: 26px
    &__comment
      font-size: 15px
    