@import 'var'
@import 'mixins'
@import 'interface'
@import 'normalize'
@import 'fonts'

@import 'header'
@import 'main'
@import 'feedback'
@import 'portfolio'
@import 'information'

@import 'modal'

*, *:before, *:after
  box-sizing: border-box
body
  font-family: 'Museo Sans Light', sans-serif
  color: $text-color
  overflow-x: hidden
.container
  width: 1170px
  margin: 0 auto
img 
  max-width: 100%
.section
 &-title
   +bold
   line-height: 45px
   font-size: 30px
   &_center
     text-align: center
.error
  border-color: red
  
@import 'media'

